@inherits LayoutComponentBase

<CascadingValue Value="this">
    <MudThemeProvider />

    <MudLayout>
        <MudAppBar Elevation="1">
            <MudText Typo="Typo.h5" Class="ml-3">PNYX</MudText>
            <MudSpacer />
            <AuthorizeView>
                <Authorized>
                    @* ReSharper disable once Html.PathError *@
                    <MudText Typo="Typo.caption" Class="ml-3"><a href="authentication/profile" style="color: white">@context.User.Identity?.Name</a></MudText>
                    <MudBadge Content=@TotalBalance Color="Color.Error" Overlap="true" Class="mx-5 my-4">
                        <MudIconButton Icon="@Icons.Filled.MonetizationOn" Color="Color.Inherit" Edge="Edge.End" @onclick="ShowAccountDetails" Title="Account Details" />
                    </MudBadge>
                    <MudIconButton Icon="@Icons.Filled.Logout" Color="Color.Inherit" Edge="Edge.End" @onclick="BeginSignOut" Title="Logout" />
                </Authorized>
                <NotAuthorized>
                    <MudIconButton Icon="@Icons.Filled.Add" Color="Color.Inherit" Edge="Edge.End" @onclick="BeginRegister" Title="Register" />
                    <MudIconButton Icon="@Icons.Filled.Login" Color="Color.Inherit" Edge="Edge.End" @onclick="BeginSignIn" Title="Login" />
                </NotAuthorized>
            </AuthorizeView>
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</CascadingValue>
