@inherits LayoutComponentBase

<CascadingValue Value="this">
    <MudThemeProvider />

    <MudLayout>
        <MudAppBar Elevation="1">
            <MudText Typo="Typo.h5" Class="ml-3">PNYX</MudText>
            <MudText Typo="Typo.caption" Style="margin-left: 15px">@Version (@Environment.Version)</MudText>
            <MudSpacer />
            <AuthorizeView>
                <Authorized>
                    @* ReSharper disable once Html.PathError *@
                    @if (!string.IsNullOrEmpty(UserName))
                    {
                        if (!string.IsNullOrEmpty(AvatarImage))
                        {
                            <MudAvatar Image=@AvatarImage Size="Size.Medium" Title=@UserName Style="cursor: pointer" @onclick="GotoProfile" />
                        }
                        else
                        {
                            <MudAvatar Color="Color.Secondary" Size="Size.Medium" @onclick="GotoProfile" Title=@UserName Style="cursor: pointer">@AvatarName</MudAvatar>
                        }
                    }
                    @if (TotalBalance >= 0)
                    {
                        <MudText Typo="Typo.button" Class="ml-3"><a href="accountdetails" style="color: white" Title="Total Balance">@TotalBalance PNYX</a></MudText>
                    }
                    <MudIconButton Icon="@Icons.Filled.Logout" Color="Color.Inherit" Edge="Edge.End" @onclick="BeginSignOut" Title="Logout" />
                </Authorized>
                <NotAuthorized>
                    <MudIconButton Icon="@Icons.Filled.AddCircleOutline" Color="Color.Inherit" Edge="Edge.End" @onclick="BeginRegister" Title="Register" />
                    <MudIconButton Icon="@Icons.Filled.Login" Color="Color.Inherit" Edge="Edge.End" @onclick="BeginSignIn" Title="Login" />
                </NotAuthorized>
            </AuthorizeView>
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</CascadingValue>
