    <MudCard Style="height: 470px; width: 310px">
        <MudCardHeader>
            <CardHeaderAvatar>
                @if (HasAvatarImage)
                {
                    <MudAvatar Image=@AvatarImage Title=@CreatorUserName />
                }
                else
                {
                    <MudAvatar Color="Color.Secondary" Size="Size.Medium" Title=@CreatorUserName>@AvatarName</MudAvatar>
                }
            </CardHeaderAvatar>
            <CardHeaderContent>
                <div style="height: 90px">
                    <MudText Typo="Typo.body2">@Title</MudText>
                    <MudText Typo="Typo.caption">@Tags</MudText>
                </div>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (Issue.HasMyStake())
                {
                    <MudIconButton Icon="@Icons.Filled.Star" Color="Color.Tertiary" Title="Staked by me" />
                }
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardMedia Image=@IssueImage Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.body2">@Description</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudSpacer></MudSpacer>
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Default" @onclick="GotoIssueDetails" Style="cursor: pointer"/>
        </MudCardActions>
    </MudCard>
