@using System.ComponentModel.Design
<div style="max-width: 640px;">
    <MudText Typo="Typo.body1">&nbsp;</MudText>
    <MudText Typo="Typo.body1">There is currently no user existing for you. Please select a user name.</MudText>
    <MudText Typo="Typo.body1">&nbsp;</MudText>
    <MudCard>
        <MudCardContent>
            <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors">
                <MudTextField T="string" Label="Username" Validation="@(new Func<string, IEnumerable<string>>(ValidateUserName))"
                              @bind-Value="@UserName" />
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => _form.Validate())" Class="ml-auto">Register</MudButton>
        </MudCardActions>
    </MudCard>

    @if (_errors.Length > 0)
    {
        <MudText Typo="Typo.body1">&nbsp;</MudText>
        @foreach (string error in _errors)
        {
            <MudText Color="@Color.Error" Typo="Typo.body1">@error</MudText>
        }
    }
    else
    {
        CreateUserIfNotAlreadyExisting();
    }

</div>


