@page "/"

<MudPaper Height=@Height Width="100%">
    <MudContainer Fixed="true">
        <MudText Typo="Typo.h5">Hello, world!</MudText>
        <MudText>Welcome to your new app.</MudText>

        @if (ShowAddUserWizard)
        {
            <MudText>&nbsp;</MudText>
            <UserAddWizard ExternalUserId="@ExternalUserId" OnSuccess="OnSuccess" />
        }

        @if (!string.IsNullOrEmpty(UserEMail))
        {
            <MudText>&nbsp;</MudText>
            <MudText>@UserName</MudText>
            <MudText>@UserEMail</MudText>
            <MudText>@ExternalUserId</MudText>
        }
    </MudContainer>
    <MudText>&nbsp;</MudText>
    <div style="width: 350px; margin: 20px; display: none">
        <MudCard>
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Image="images/andreas.jpg" />
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Familienf&ouml;rderung</MudText>
                    <MudText Typo="Typo.caption">#Kindergrundsicherung #Familie #Soziales</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Filled.StarOutline" Color="Color.Tertiary" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="images/familie.jpg" Height="270" />
            <MudCardContent>
                <MudText Typo="Typo.body2">Soll der Staat in die Lohnfindung eingreifen und wenn ja wie?</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudSpacer></MudSpacer>
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Default" />
                <MudIconButton Icon="@Icons.Filled.Add" Color="Color.Default" />
            </MudCardActions>
        </MudCard>
    </div>
</MudPaper>
