@page "/"

<AuthorizeView>
    <Authorized>
        @if (ShowAddUserWizard)
        {
            <MudContainer Fixed="true">

                <MudText>&nbsp;</MudText>
                <UserAddWizard ExternalUserId="@ExternalUserId" OnSuccess="OnSuccess" />

                @*@if (!string.IsNullOrEmpty(UserEMail))
                {
                    <MudText>&nbsp;</MudText>
                    <MudText>@UserName</MudText>
                    <MudText>@UserEMail</MudText>
                    <MudText>@ExternalUserId</MudText>
                }*@
            </MudContainer>
        }
        else
        {
            @if (Issues is { Count: > 0 })
            {
                <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => UpdateIssues()">
                    <MudGrid Spacing="2" Justify="Justify.Center">
                        @foreach (var issue in Issues)
                        {
                            <MudItem lg="3">
                                <IssueCard UserName="@UserName" Issue="@issue" />
                            </MudItem>
                        }
                    </MudGrid>
                    
                    <li class="list-group-item" id="observerTarget" style="color: white"></li>

                </InfiniteScroll>
            }
        }
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Large" IconSize="Size.Large" Title="Issue hinzufügen" 
                Style="position: fixed; right:70px; bottom:30px;" OnClick="AddIssue"/>
        </Authorized>
    <NotAuthorized>
        <MudText>&nbsp;</MudText>
        <MudText Typo="Typo.h5">Login to see some Issues...</MudText>
    </NotAuthorized>
</AuthorizeView>
