@page "/issues"

<h1>Issues</h1>

<AuthorizeView>
    <Authorized>
        <p>Logged in as @UserName</p>
  
        @if (IssueItems == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Tags</th>
                    <th>Titel</th>
                    <th>Staked</th>
                    <th>Erstellt am</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var issue in IssueItems)
                {
                    <tr style="background-color: @issue.BackgroundColor">
                        <td>@issue.Tags</td>
                        <td>@issue.Title</td>
                        <td></td>
                        <td>@issue.CreateDate</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>

        @if (IssueItems == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Tags</th>
                        <th>Titel</th>
                        <th>Erstellt am</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issue in IssueItems)
                    {
                        <tr style="background-color: @issue.BackgroundColor">
                            <td>@issue.Tags</td>
                            <td>@issue.Title</td>
                            <td>@issue.CreateDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </NotAuthorized>
</AuthorizeView>
